{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Expired Listings:</h2>
    <div class="row mx-3">
        {% for listing in expired_listings %}
            <div class="card mx-2" style="width: 18rem;">
                <img src="{{ listing.image }}" class="card-img-top" alt="{{ listing.title }}" height="200px">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text">{{ listing.description }}</p>
                    <p class="card-text">Price: €{{ listing.price.bid }}</p>
                    <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}